* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
}

header {
    background-color: #1f293f;
    color: #f9faf8;
}

nav,
.welcome-container,
.info-container {
    max-width: 1060px;
    margin: auto;
    padding: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
    margin-left: 0px;
}

nav p {
    font-size: 24px;
    font-weight: 700;
}

nav li {
    font-size: 18px;
    color: #e5e7eb;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    padding: 60px 0px;
}

.welcome-cta h1 {
    font-size: 48px;
    font-weight: 900;
}

.welcome-cta p {
    color: #e5e7eb;
}

.welcome-cta button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    margin-top: 16px;
}

.welcome-container img {
    width: 500px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 120px;
}

.info-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f293f;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 150px;
}

.info-box div {
    width: 150px;
    height: 150px;
    border: solid 4px #3882f6;
    border-radius: 16px;
}
